.nav {
    width: border-box;
    background-color: snow;
    grid-area: n;
    text-align: center;
    border-radius: 20px;
    height: auto;
    margin-left: 0.5rem;
}

.navItem {
    justify-content: center;
    font-weight: bold;
    margin: 1rem 1rem 1rem 1rem ;
    background-color: #88a2a8;
    border-radius: 20px;
    color: snow;
}

.navItem a {
    padding: 0 0 0 0;
    color: white;
    text-decoration: none;
}

.navItem a.active {
    color: rgba(0,7,19,0.89);
}
