.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.imgDiv {
    text-align: center;
}
.img {
    flex-direction: row;
    margin-top: 2rem;
    max-height: 100px;
    background-color: black;
    max-width: fit-content;
    border-radius: 50px;
    margin-bottom: 3rem;
}
.userInfo{
    display: flex;
    flex-direction: column;
    background-color: #88a2a88a;
    border-radius: 5px;
    min-width: 200px;
    max-width: border-box;
    min-height: 60px;
    text-align: center;
    padding: 10px;
}
.logoFollowDiv{
    margin-right: 2rem;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smallLogo {
    width: 50px;
}
.followUnfollow{
    color: #232a32;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}
.followUnfollow:hover {
    cursor: pointer;
}
.userItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}
.selectedPage {
    font-weight: bold;
}