.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.userInfo{
    display: flex;
    flex-direction: column;
    background-color: #88a2a88a;
    border-radius: 5px;
    min-width: 200px;
    max-width: 300px;
    min-height: 60px;
    max-height: 150px;
    text-align: center;
    padding: 10px;
    box-shadow: rgba(18, 32, 37, 0.76) 2px 1px 3px 1px;
}
.logoFollowDiv{
    margin-right: 2rem;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smallLogo {
    border: rgba(18, 32, 37, 0.76) 1px solid;
    box-shadow: rgba(18, 32, 37, 0.76) 2px 1px 3px 1px;
    border-radius: 50%;
    width: 50px;
}
.followUnfollow{
    box-shadow: rgba(18, 32, 37, 0.76) 2px 1px 3px 1px;
    color: #232a32;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}
.followUnfollow:hover {
    cursor: pointer;
}
.userItem {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}
.pagesDiv {
    padding: 1rem;
    margin-bottom: 3rem;
}
.page{
    padding: 10px;
    cursor: pointer;
}
.selectedPage {
    box-shadow: rgba(35, 42, 50, 0.37) 2px 1px;
    border: #88a2a8 1px solid;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}