.addPostBody {
    text-align: center;
}

.tAreaBody {
    width: border-box;
    padding: 10px;
    text-align: center;
}

.textArea {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.addPostButton {
    border-radius: 30px;
}