.img {
    margin-top: 2rem;
    height: 100px;
    background-color: black;
    width: border-box;
    border-radius: 50px;
}

.imgDiv {
    width: border-box;
    text-align: center;
}

.profileBody {
    padding-left: 2rem;
}