.img {
    margin-top: 2rem;
    height: 100px;
    background-color: black;
    width: border-box;
    border-radius: 50px;
    box-shadow: rgba(18, 32, 37, 0.76) 2px 1px 3px 1px;
}

.imgDiv {
    width: border-box;
    text-align: center;
}

.profileBody {
    padding-left: 2rem;
}