
.imgDiv {
    text-align: center;
}
.img {
    flex-direction: row;
    margin-top: 2rem;
    background-color: black;
    border-radius: 50px;
    margin-bottom: 3rem;
    box-shadow: rgba(18, 32, 37, 0.76) 2px 1px 3px 1px;
}