.app-wrapper {
  text-align: initial;
  display: grid;

  background-color: rgba(246,243,201,0.38);

  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}
.header {
  text-align: right;
  grid-area: h;
  background-color: #88a2a8;

}
.header img {
  width: 50px;
}

.nav {
  background-color: ghostwhite;
  grid-area: n;
  text-align: center;
}
.content {
  align-items: flex-start;
  grid-area: c;
}
.content-img {
  height: 100px;
  background-color: black;
  width: border-box;
  border-radius: 50%;
}
